name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check version
        run: |
          python -V
          clang -v
          java --version
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Download source
        run: wget -q https://github.com/bazelbuild/bazel/releases/download/5.2.0/bazel-5.2.0-dist.zip
      - name: Unzip source
        run: unzip -nq bazel-5.2.0-dist.zip
      - name: Post information
        run: ls
      - name: Compile
        run: env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" bash ./compile.sh > info.log
      - name: Show output
        run: ls output
      - name: Store packages
        uses: actions/upload-artifact@v3
        with:
          name: bazel
          path: output/bazel
