name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['3.7.2'] # ['5.3.0', '5.2.0', '4.2.2', '3.7.2']
        tool: ['8', '11']
      fail-fast: false
    steps:
      - uses: actions/setup-java@v3
        if: ${{ matrix.tool != '11' }}
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: ${{ matrix.tool }}
      - name: Check version
        run: |
          python -V
          clang -v
      #    java --version
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Download source
        run: wget -q https://github.com/bazelbuild/bazel/releases/download/${{ matrix.version }}/bazel-${{ matrix.version }}-dist.zip
      - name: Unzip source
        run: unzip -nq bazel-${{ matrix.version }}-dist.zip
      - name: Post information
        run: ls
      - name: Compile
        run: env EXTRA_BAZEL_ARGS="--tool_java_runtime_version=local_jdk" bash ./compile.sh
      - name: Show output
        run: |
          ls output
          if [ ! -e output/bazel ]; then exit 1; fi

      - name: Zip packages
        run: zip bazel-${{matrix.version}}-java.${{matrix.tool}}.zip output/bazel

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: bazel-${{matrix.version}}-java.${{matrix.tool}}
          release_name: Release bazel-${{matrix.version}}-java.${{matrix.tool}}
          draft: false
          prerelease: false
      - name: Upload Release Asset 11
        id: upload-release-asset-v11
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ./bazel-${{matrix.version}}-java.${{matrix.tool}}.zip
          asset_name: bazel-${{matrix.version}}-java.${{matrix.tool}}.zip
          asset_content_type: application/zip
